.env
__pycache__/
*.pyc
.venv/
venv/
node_modules/
*.py[cod]
*$py.class
frontend/.next/
frontend/out/
*.pbf
*.csv
*.sqlite
data_pipeline/raw_data/*.csv
data_pipeline/raw_data/*.pbf
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
